@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --branco: #fff;
    --gelo: #f1f1f1;
    --verde: #19c463;
    --preto: #2a2a2a;
}

body {
    font-family: "Bebas Neue", sans-serif;
}

.nav-top.cart{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--branco);
    padding: 10px 0px;
    align-items: center;
}

.nav-top.cart a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid var(--gelo);
    border-radius: 50%;
    color: var(--preto);
}

.nav-top.cart a:first-child{
    margin-left: 20px;
}
.nav-top.cart a:last-child{
    margin-right: 20px;
}

#listaCarrinho{
    display: flex;
    flex-flow: column wrap;
    margin-top: 20px;
    padding-bottom: 280px;
}

.item-carrinho{
    display: flex;
    align-items: center;
    width: 90%;
    height: 120px;
    margin: auto;
    border-bottom: 1px solid var(--gelo);
    padding: 10px 0px;
}

.area-img {
    flex: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gelo);
    border-radius: 20px;
}

.area-img img {
    max-width: 120px;
    height: 120px;
    object-fit: contain;
}

.area-details {
    flex: 70%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 100%;
}

.sup {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.nome-prod {
    font-weight: 600;
    font-size: 20px;
    margin-left: 15px;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.delete-item {
    font-size: 18px;
    color: #9e9e9e;
    margin-right: 10px;
}

.middle span {
    color: gray;
    margin-left: 15px;
    font-size: 20px;
}

.preco-quantidade {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
}

.preco-quantidade span {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.count {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.minus, .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: gray;
    background-color: var(--branco);
    border: 1px solid var(--gelo);
    border-radius: 5px;
    font-size: 30px;
}

.plus {
    color: var(--verde);
    border: 1px solid var(--verde);
}

.qtd-item {
    width: 30px;
    text-align: center;
    background-color: var(--branco) !important;
}

.add-cart {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: var(--verde);
    color: var(--branco);
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
}

.flex-100 {
    flex: 1;
    text-align: center;
}

.w-80 {
    width: 80%;
    padding: 8px 0px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--gelo);
}

#totais {
    flex-direction: column;
}